{erl_opts, [debug_info]}.
{cover_enabled, true}.


{deps, [{jsx, [], {git,"git@github.com:talentdeficit/jsx.git",
                   {tag,"v2.6.1"}}}]}.

{profiles, [
            {test, [{deps,
                     [{folsom, ".*", {git, "git://github.com/boundary/folsom",
                                      master}},
                      {meck, ".*", {git, "git@github.com:eproxus/meck.git",
                                    {master}}}
                     ]
                    }]
            }
           ]
}.
